name: release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Check Hash
        run: |
          echo ${GITHUB_SHA}
          echo ${GITHUB_SHA::7}
         
