name: push

env:
  COMMIT_ID: ${{ github.sha }}

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set ENV
        run: |
          echo "COMMIT_SHORT_ID=${BASE_VERSION}-dev-${GITHUB_SHA::7}" >> $GITHUB_ENV      

      - name: commit-id
        run: |
          echo ${COMMIT_ID}
          echo ${COMMIT_SHORT_ID}
          echo ${GITHUB_SHA::7}
