name: release

on: 
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - name: release id
        env:
          VERSION: ${GITHUB_REF#refs/*/}
        run: echo ${VERSION}
