name: release

env:
  VERSION: ${{ github.ref#refs/*/ }}

on: 
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: version 
        run: echo ${VERSION}
