name: release

on:
  release:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: release id
        run: echo ${GITHUB_REF#refs/*/}
