name: trans

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push
        id: docker_build
        run: | 
          docker pull k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
          dokcer tag k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1 wutongpaas/ingress-nginx-kube-webhook-certgen:v1.1.1
          docker push wutongpaas/ingress-nginx-kube-webhook-certgen:v1.1.1
          docker pull k8s.gcr.io/ingress-nginx/controller:v1.1.3
          docker pag k8s.gcr.io/ingress-nginx/controller:v1.1.3 wutongpaas/ingress-nginx-controller:v1.1.3
          docker push wutongpaas/ingress-nginx-controller:v1.1.3
